<div class="center jumbotron">
  <h1>NZOZ w Skowronkowie Dolnym</h1>

  <h2>
    Rejestracja i Zapisy Pacjentów
  </h2>

  <%= link_to "Pacjenci", patients_path, class: "btn btn-success btn-lg btn-block" %>
  <br>
  <%= link_to "Harmonogram wizyt", harmonogram_path, class: "btn btn-lg btn-block btn-success" %>
</div>
<%= image_tag("eskulap.png", size: "150x102", alt: "Home logo")%>

