<%= simple_form_for(@visit) do |f| %>
  <%= f.error_notification %>

 <div class="form-style-8">
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.association :patient, label_method: "#{:lname}" %>
    <%= f.association :doctor, label_method: "#{:doctor_lname}"  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
