<p id="notice"><%= notice %></p>

<h1>Wizyty</h1>
<center>
<table class="tg">
  <thead>
    <tr>
      <th>Początek wizyty</th>
      <th>Koniec wizyty</th>
      <th>Imię Pacjenta</th>
      <th>Nazwisko Pacjenta</th>
      <th>Imię Lekarza</th>
      <th>Nazwisko Lekarza</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= visit.start_date %></td>
        <td><%= visit.end_date %></td>
        <td><%= visit.patient.name %></td>
        <td><%= visit.patient.lname %></td>
        <td><%= visit.doctor.doctor_name %></td>
        <td><%= visit.doctor.doctor_lname %></td>
        <td><%= link_to 'Pokaż', visit %></td>
        <td><%= link_to 'Edytuj', edit_visit_path(visit) %></td>
        <td><%= link_to 'Usuń', visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</center>
<br>

<%= link_to 'Dodaj nową wizytę', new_visit_path %>

