<p id="notice"><%= notice %></p>


<table class="tg">
    <thead>
        <tr>
            <td>Start date:</td>
            <td>End date</td>
            <td>Patient Last name</td>
            <td>Patient first name</td>
            <td>Doctor Last name</td>
            <td>Doctor first name</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @visit.start_date %> </td>
            <td><%= @visit.end_date %> </td>
            <td><%= @visit.patient.lname %> </td>
            <td><%= @visit.patient.name%> </td>
            <td><%=  @visit.doctor.doctor_lname %> </td>
           <td><%=  @visit.doctor.doctor_name %> </td>
    </tbody>
</table>




<%= link_to 'Edytuj', edit_visit_path(@visit) %> |
<%= link_to 'Cofnij', visits_path %>
