<% provide(:title, 'Pacjenci') %>

<h1>Lista pacjentów</h1>

<p>  </p>
<center>
    <a href="/patients/new" class="btn btn-lg btn-primary">Dodaj Pacjenta</a>
    </center>
    <p></p>
    
    <center>
<table class="tg">
    <thread>
        <tr>
            <th><%= sortable "name","Imię" %> </th>
            <th><%= sortable "lname","Nazwisko" %></th>
            <th>Pesel</th>
            <th>Telefon</th>
            <th>Funkcje</th>
        </tr>
        <tbody>
            <% @patients.each do |patient| %>
            
            <tr>
                <td><%= patient.name %> </td>
                <td> <%= patient.lname %>  </td>
                <td><%= patient.pesel %></td>
                <td> <%= patient.tel %>    </td>
                <td><a href="/patients/<%= patient.id %>"> Pokaż profil </a></td>
                <td><a href="/patients/<%= patient.id %>/edit"> Edytuj profil </a></td>
                <td><a href="/patients/<%= patient.id %>" data-method="delete" data-confirm="Czy jesteś pewny?">Usuń Profil </a></td>
             </tr>
        <%end %>
            
        </tbody>
    </thread>
</table>
<p></p>
<a href="/patients/new" class="btn btn-lg btn-primary">Dodaj Pacjenta</a>
</center>

