

<script type="text/javascript">
//auto expand textarea
function adjust_textarea(h) {
    h.style.height = "20px";
    h.style.height = (h.scrollHeight)+"px";
}
</script>

<% provide(:title, 'Dodaj pacjenta') %>
 
        

<h1>Dodaj pacjenta</h1>

    <div class="form-style-8">
        <% if flash[:errors] %>
        <% flash[:errors].each do |e| %>
        <p> <%= e %></p>
        <% end %>
        <% end %>
     <br>
    
        
  <h2>Wprowadź dane pacjenta</h2>
  <form action="/patients" method="post">
  
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <p>  
        <label> Imię </label>
        <input type="text" name="patient[name]" placeholder="Imię" /> 
        </p>
     <p> 
     <label> Nazwisko </label>
     <input type="text" name="patient[lname]" placeholder="Nazwisko" />
     </p>
   <p>  
   <label> Numer PESEL </label>
   <input type="number" name="patient[pesel]" placeholder="Pesel" />   
   </p>
    <p> 
    <label> Data Urodzenia </label>
    <input type="date" name="patient[dob]" placeholder="Data Urodzenia" />  
    </p>
     <p> 
     <label> Telefon Kontaktowy </label>
     <input type="tel" name="patient[tel]" placeholder="Numer Telefonu"/> 
     </p>
      <p>  <input type="submit" name="Dodaj do bazy" value="Dodaj do bazy" class="btn btn-lg btn-primary"/>  </p>
  </form>
</div>
</form>
