<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;border-top-width:1px;border-bottom-width:1px;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;border-top-width:1px;border-bottom-width:1px;}
.tg .tg-yw4l{vertical-align:top}
</style>

<h1>Pacjent <%= @patient.name %> <%= @patient.lname %> - dane</h1>

<table class="tg">
    <thead>
        <tr>
            <td>Imię</td>
            <td>Nazwisko</td>
            <td>Pesel</td>
            <td>Telefon</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @patient.name %> </td>
            <td><%= @patient.lname %> </td>
            <td><%= @patient.pesel%> </td>
            <td><%= @patient.tel %> </td>
        </tr>
    </tbody>
</table>

<a href="/patients" class="btn btn-lg btn-primary"> Powrót </a>