<%= simple_form_for(@doctor) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :doctor_name %>
    <%= f.input :doctor_lname %>
    <%= f.input :spec %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
