<p id="notice"><%= notice %></p>

<h1>Lekarze</h1>
<center>
<table class="tg" >
  <thead>
    <tr>
      <th>Imię </th>
      <th>Nazwisko</th>
      <th>Specjalizacja</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.doctor_name %></td>
        <td><%= doctor.doctor_lname %></td>
        <td><%= doctor.spec %></td>
        <td><%= link_to 'Pokaż', doctor %></td>
        <td><%= link_to 'Edytuj', edit_doctor_path(doctor) %></td>
        <td><%= link_to 'Usuń', doctor, method: :delete, data: { confirm: 'Czy jesteś pewny?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</center>
<br>

<%= link_to 'New Doctor', new_doctor_path %>
